#form-container {
    padding-top: 15px;
}
#hidden-template {
    display: none;
}
#control-buttons {
    text-align: center;
}
#title {
    padding-top: 65px;
    text-align: center;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
}
.slide {
    padding: 25px;
}