<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/create.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="/js/create.js"></script>
</head>

<body>
    {{ navbar }}
    <h1 id="title">Shatner Slides</h1>

    <div id="form-container" class="container">
        <div id="control-buttons" class="">
            <button type="button" id="start-show-button" class="btn btn-outline-primary">Start Show</button>
            <button type="button" id="save-button" class="btn btn-outline-success">Save</button>
            <button type="button" id="upload-button" class="btn btn-outline-secondary">Upload Slide or Music</button>
            <button type="button" id="add-slide-button" class="btn btn-outline-secondary">Add Slide</button>
        </div>
        <form id="slide-forms" action="/submitSlides" method="post" class="row">
            {{ form }}
        </form>
    </div>
</body>

<div id="hidden-template">
    {{ form }}
</div>

</html>