<div class="my-navbar">
        <div class="my-navbar-brand">
            <a href="https://gormley.dev/">
                <img class="my-navbar-brand" src="/static/gormley_logo2.png">
            </a>
        </div>
        <div class="my-navbar-collapse">
            <ul class="my-navbar-left">
                <li class="my-navbar-item">
                    <a class="my-navbar-link" href="https://gormley.dev/">Home</a>
                </li>
                <li class="my-navbar-item">
                    <a class="my-navbar-link" href="https://gormley.dev/resume">Resume</a>
                </li>
                <li class="my-navbar-item">
                    <a class="my-navbar-link" href="https://gormley.dev/blog">Blog</a>
                </li>
            </ul>
        </div>
        <div class="my-navbar-right">
            <li class="my-navbar-item">
                <a class="my-navbar-link" href="https://gormley.dev/contact">Contact Me</a>
            </li>
        </div>
    </div>