<div class="col-lg-2 slide col-lg-3">
    <div class="form-group">
        <label for="slide">Slide</label>
        <select class="form-control" id="slide">
            <option>Choose an Option</option>
            {% for slide in slides %}
            <option>{{slide['name']}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="song">Song</label>
        <select class="form-control" id="song">
            <option>Choose an Option</option>
            {% for song in songs %}
            <option>{{song['name']}}</option>
            {% endfor %}
        </select>
        <small id="dur-song-help" class="form-text text-muted">This is for playing music during the slide</small>
    </div>
    <div class="form-group">
        <label for="wait-time">Wait Time</label>
        <input type="number" class="form-control" id="wait-time" aria-describedby="wait-help"
            placeholder="Enter wait in milliseconds">
        <small id="wait-help" class="form-text text-muted">This is the amount of time before the slide comes
            up</small>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type">
            <option>Game</option>
            <option>Opener</option>
            <option>Closer</option>
            <option>Song</option>
        </select>
        <small id="type-help" class="form-text text-muted">This is the type of slide this will be</small>
    </div>

    <button type="button" id="remove-slide-button"
        class="remove-slide-button btn btn-outline-danger btn-sm">Remove</button>
</div>